/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Satoshi";
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* Se recomienda 'swap' para mejorar la experiencia de carga */
  unicode-range: U+000-5FF;
  src: local("Satoshi"),
    url("/fonts/Satoshi/Satoshi-Medium.ttf") format("truetype");
}

body {
  font-family: "Satoshi";
}
